@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800");
.header-middle .row > div:first-child {
    display: flex;
    align-items: center;
}
.container,
.container-fluid {
    width: 1800px;
    max-width: 86%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.title {
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: -0.025em;
}
.title-desc {
    letter-spacing: 0;
}
.heading {
    margin-bottom: 4.4rem;
}
.heading .title {
    margin-bottom: 1rem;
}
.intro-slider-container:before,
.intro-slider .slide-image:before {
    padding-top: 42.3728813559%;
}
@media screen and (max-width: 479px) {
    .intro-slider-container:before,
    .intro-slider .slide-image:before {
        padding-top: 83.3333333333%;
    }
}
.intro-slide .intro-content {
    padding-bottom: 1rem;
}
.intro-slider.owl-nav-inside .owl-dots {
    right: auto;
    left: 14px;
    bottom: 20px;
}
.intro-content {
    left: 20px;
}
.intro-content .btn {
    color: #333;
    border-radius: 0.3rem;
    text-transform: uppercase;
    letter-spacing: 0;
}
.intro-subtitle {
    color: #777;
    font-weight: 300;
    margin-bottom: 0.8rem;
}
.intro-title {
    color: #333;
    font-weight: 600;
    font-size: 2.8rem;
    letter-spacing: -0.025em;
    margin-bottom: 0.5rem;
}
.intro-title span {
    font-weight: 300;
}
.intro-text {
    color: #333;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.3;
    letter-spacing: -0.025em;
    margin-bottom: 1.6rem;
}
.intro-price {
    color: #333333;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.2;
    letter-spacing: -0.025em;
    margin-top: -0.2rem;
    margin-bottom: 1.7rem;
}
.intro-price sup {
    top: -0.8em;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: -0.03em;
}
.banner {
    overflow: hidden;
    background-color: #f1f1f1;
}
.banner,
.banner img {
    border-radius: 0.2rem;
}
.banner-content-stretch .banner-content {
    top: 10rem;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner-content-stretch .banner-content .banner-link {
    background-color: rgba(153, 153, 153, 0.2);
    color: #333;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.banner-content-stretch .banner-content .banner-link:hover,
.banner-content-stretch .banner-content .banner-link:focus {
    background-color: #fe4c02;
}
.banner-content-stretch a::after {
    display: none;
}
.banner-content {
    padding-top: 0;
    left: 2rem;
}
.banner-content .price {
    padding-right: 1.3rem;
    line-height: 2.4em;
}
.banner-content .price sup {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -0.01em;
    top: -0.4em;
}
.banner-content .price span {
    margin-left: 0.3rem;
    font-size: 2.4rem;
    letter-spacing: -0.01em;
}
.banner-content .price strong {
    font-weight: 600;
}
.widget-banner .banner-content {
    left: 3rem;
}
.widget-banner .banner-content-right {
    right: 3rem;
}
.widget-banner .banner-content-top {
    top: 3.5rem;
    transform: translateY(0);
}
.banner-subtitle {
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: -0.01em;
    margin-bottom: 1.1rem;
}
.banner-subtitle.text-white {
    color: #ebebeb !important;
}
.banner-title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: -0.025em;
    margin-bottom: 1.4rem;
}
.banner-title span {
    font-weight: 300;
}
.banner-link {
    width: auto;
    min-width: 150px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: -0.01em;
    border-radius: 0.3rem;
    padding: 0.7rem 1rem 0.6rem;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.35s;
}
.banner-link i {
    display: inline-block;
    width: 0;
    line-height: 1;
    overflow: hidden;
    margin-left: 0;
    margin-bottom: -1px;
    transition: width 0.35s, margin 0.35s, color 0s;
}
.banner-link.banner-link-dark:not(:hover):not(:focus) {
    background-color: rgba(51, 51, 51, 0.2);
}
.banner-link:hover,
.banner-link:focus {
    color: #333;
    text-decoration: none !important;
    background-color: #fe4c02;
}
.banner-link:hover i,
.banner-link:focus i {
    width: auto;
    margin-left: 0.7rem;
}
.banner-text a {
    color: inherit;
}
.banner-text a:hover,
.banner-text a:focus {
    text-decoration: none;
}
.trending-products {
    padding: 2rem 1rem 2rem;
}
.trending-products .owl-simple .owl-nav .owl-prev {
    left: -40px;
}
.trending-products .owl-simple .owl-nav .owl-next {
    right: -40px;
}
.trending-products .owl-dots {
    margin-top: 0.5rem;
}
.trending-products .product-media {
    padding: 2rem 2rem;
    background-color: #fff;
}
.trending-products .product-body {
    padding-top: 0;
    padding-bottom: 2.8rem;
}
.electronics .product-media,
.furniture .product-media,
.clothing .product-media,
.cooking .product-media {
    background-color: #fff;
    padding: 0.5rem;
}
.owl-full .owl-nav [class*="owl-"] {
    color: #666;
}
.nav.nav-pills .nav-item.show .nav-link,
.nav.nav-pills .nav-item .nav-link.active {
    color: #666;
}
.nav.nav-pills .nav-link {
    color: #666;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: capitalize;
    padding-bottom: 1.5rem;
}
.product.product-sm {
    align-items: center;
}
.product.product-sm .product-media {
    flex: 0 0 70px;
    max-width: 70px;
}
.product.product-sm .product-title {
    line-height: 1.5em;
}
.product.product-sm .product-body {
    padding-top: 0;
}
.widget-deals .product-image {
    width: unset;
}
.widget-deals .product-media {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    background-color: #fff;
}
.widget-deals .product-label {
    top: 1rem;
}
.widget-posts {
    padding-top: 0.5rem;
}
.sidebar-home .widget-posts .widget-title {
    margin-bottom: 3rem;
}
.product-label {
    border-radius: 0.2rem;
}
.product {
    border-radius: 0.2rem;
    overflow: hidden;
}
.product-action-vertical {
    transform: translateY(0);
}
.btn-product-icon {
    border-radius: 50%;
    background-color: #fff;
    border: 0.1rem solid #fe4c02;
}
.btn-product-icon span {
    top: -1px;
    bottom: -1px;
}
.btn-product-icon:hover,
.btn-product-icon:focus {
    background-color: #fe4c02;
}
.btn-product-icon:hover span,
.btn-product-icon:focus span {
    background-color: #fe4c02;
}
.btn-wishlist:hover:before,
.btn-wishlist:focus:before {
    content: "\f233";
}
.product-action {
    left: 2rem;
    right: 2rem;
    transform: translateY(0);
}
.btn-product {
    padding-top: 1.05rem;
    padding-bottom: 1.05rem;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0.2rem;
    border: 0.1rem solid #fe4c02;
    background-color: #fe4c02;
}
.btn-product:before {
    margin-right: 0.6rem;
}
.btn-product span {
    color: #fff;
}
.btn-product:before {
    display: inline-block;
    margin-top: -0.1rem;
}
.btn-product:hover,
.btn-product:focus {
    color: #fe4c02;
    background-color: #333;
    border-color: #333;
}
.btn-product:hover span,
.btn-product:focus span {
    color: #fe4c02;
    box-shadow: none;
}
.product-body {
    padding-bottom: 1.8rem;
}
.product-cat {
    color: #ccc;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}
.product-price {
    font-size: 1.4rem;
    margin-bottom: 1.1rem;
}
.old-price {
    text-decoration: none;
}
.product-title {
    color: #666;
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
}
.ratings-text {
    margin-left: 0.5rem;
}
.product-countdown {
    border-radius: 0.2rem;
    background-color: #fe4c02;
    left: 2rem;
    right: 2rem;
    bottom: 0;
    padding: 0.7rem 1rem 0.6rem;
}
.product-countdown .countdown-section {
    background-color: transparent;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    position: relative;
    margin-bottom: 1.1rem;
}
.product-countdown .countdown-section:not(:last-child):after {
    font-weight: 400;
    font-size: 1.6rem;
    margin-left: -0.1rem;
}
.product-countdown .countdown-amount {
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: -0.01em;
    margin-bottom: 0;
}
.product-countdown .countdown-period {
    color: #fff;
    display: block;
    position: absolute;
    letter-spacing: 0;
    left: 0;
    right: 0;
    bottom: -1.1rem;
}
.product-countdown .countdown-show4 .countdown-section {
    width: 25%;
}
.cat-banner-list {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.cat-banner-list h2 {
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: -0.025em;
    margin-bottom: 2rem;
}
.cat-banner-list ul {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
}
.cat-banner-list ul li:not(:last-child) {
    margin-bottom: 0.8rem;
}
.cat-banner-list ul li a:before {
    content: "•";
    margin-right: 0.8rem;
}
.cat-banner-list a {
    color: #333;
}
.cat-banner-list a:hover,
.cat-banner-list a:focus {
    color: #fe4c02;
}
.cat-banner-list .list-all-link a {
    color: #fe4c02;
}
.cat-banner-list .list-all-link a:hover,
.cat-banner-list .list-all-link a:focus {
    box-shadow: 0 1px 0 #fe4c02;
}
.banner-list-content {
    padding-left: 4rem;
    padding-top: 1rem;
}
.cat-banner {
    max-width: 480px;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.cat-banner .banner {
    margin-bottom: 0;
}
.cat-banner .banner-content {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    top: 4.5rem;
    left: 4.5rem;
    bottom: 5rem;
    transform: translateY(0);
}
.cat-banner .banner-title {
    flex-grow: 1;
}
.cat-banner .banner-link {
    align-self: flex-start;
}
.sidebar-home {
    margin-top: 0;
    margin-bottom: 5rem;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}
.sidebar-home .widget {
    margin-bottom: 3rem;
}
.sidebar-home .widget-title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: -0.01em;
    margin-bottom: 2rem;
    padding-bottom: 1.4rem;
    border-bottom: 0.1rem solid #ebebeb;
}
.sidebar-home .widget-title span {
    display: inline-block;
    position: relative;
}
.sidebar-home .widget-title span:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: -1.5rem;
    height: 0.1rem;
    background-color: #fe4c02;
}
.widget-products .products {
    padding: 0;
    margin: 0;
}
.widget-products .product:last-child {
    margin-bottom: 0;
}
.widget-products .product-media {
    border: 0.1rem solid #f1f1f1;
}
.widget-products .product-title {
    color: #666;
}
.widget-products .product-sm .product-price {
    font-size: 1.4rem;
}
.widget-deals .product {
    border-bottom: 0.1rem solid #ebebeb;
    padding-bottom: 7rem;
    margin-bottom: 2rem;
}
.widget-deals .product:hover .product-countdown {
    opacity: 1;
    visibility: visible;
}
.widget-deals .product-action {
    left: 3rem;
    right: 3rem;
}
.widget-deals .product-countdown {
    left: 3rem;
    right: 3rem;
    bottom: 3rem;
}
.widget-deals .ratings-container:last-child {
    margin-bottom: 0.5rem;
}
.widget-posts {
    overflow: hidden;
}
.widget-posts .entry {
    color: #777;
    font-size: 1.4rem;
    line-height: 1.7;
    margin-bottom: 0;
}
.widget-posts .entry-media {
    margin-bottom: 1.5rem;
    border-radius: 0.2rem;
    overflow: hidden;
}
.widget-posts .entry-body {
    padding-left: 2rem;
    padding-right: 2rem;
}
.widget-posts .entry-meta {
    color: #ccc;
    margin-bottom: 0.3rem;
}
.widget-posts .entry-title {
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 0.7rem;
}
.widget-posts .entry-content p {
    margin-bottom: 0.6rem;
}
.widget-posts .read-more {
    font-size: 1.4rem;
    text-transform: capitalize;
}
.widget-posts .owl-simple .owl-nav.disabled + .owl-dots {
    margin-top: 2.5rem;
}
.icon-boxes-container {
    background-color: #fafafa;
}
.icon-box-side {
    justify-content: center;
    margin-left: -1rem;
}
.icon-box-side .icon-box-title {
    font-weight: 600;
    margin-bottom: 0.4rem;
}
.icon-box-side p {
    font-size: 1.6rem;
    letter-spacing: -0.01em;
}
.icon-box-side .icon-box-icon {
    font-size: 4rem;
    margin-bottom: 0.5rem;
}
.cta-horizontal-box {
    padding-top: 3.8rem;
    padding-bottom: 3.6rem;
}
.cta-horizontal-box form {
    display: flex;
    justify-content: flex-end;
}
.cta-horizontal-box .input-group {
    max-width: 670px;
}
.cta-horizontal-box .cta-desc {
    line-height: 1.3em;
}
.cta-horizontal .form-control {
    margin-right: 1rem;
}
.cta-title {
    font-weight: 600;
    letter-spacing: -0.025em;
}
.cta .form-control {
    border-radius: 0.3rem;
}
.cta .input-group > .custom-select:not(:last-child),
.cta .input-group > .form-control:not(:last-child) {
    border-radius: 0.3rem;
}
.cta .btn {
    min-width: 170px;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.3rem !important;
}
.cta .btn:hover,
.cta .btn:focus {
    color: #fff;
    border-color: #fe4c02;
    background-color: #fe4c02;
}
.footer .widget-about p {
    max-width: 540px;
}
.footer .widget-about-info a {
    color: #fe4c02;
}
.footer .widget-newsletter form {
    padding-top: 2.3rem;
}
.footer .widget-newsletter form .form-control::placeholder {
    color: #ccc;
}
.footer-bottom .container,
.footer-bottom .container-fluid {
    padding-bottom: 2.1rem;
}
.footer-bottom .container::before,
.footer-bottom .container-fluid::before {
    left: 1rem;
    right: 1rem;
}
@media screen and (min-width: 481px) and (max-width: 767px) {
    .intro-title {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
    .intro-subtitle,
    .intro-text,
    .intro-price {
        display: none;
    }
}
@media screen and (min-width: 576px) {
    .cat-banner-list {
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media screen and (min-width: 768px) {
    .intro-slider.owl-nav-inside .owl-dots {
        left: 54px;
        bottom: 30px;
    }
    .intro-content {
        left: 60px;
    }
    .intro-title {
        font-size: 3.4rem;
    }
    .intro-price {
        font-size: 3.8rem;
    }
    .banner-content {
        left: 5rem;
    }
}
@media screen and (min-width: 992px) {
    .heading .title {
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1200px) {
    .owl-simple.brands-carousel {
        margin-left: 6rem;
        margin-right: 6rem;
        width: calc(100% - 12rem);
    }
    .cat-banner {
        max-width: none;
    }
    .intro-slider.owl-nav-inside .owl-dots {
        left: 84px;
        bottom: 40px;
    }
    .intro-content {
        left: 90px;
    }
    .intro-subtitle {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    .intro-title {
        font-size: 3.6rem;
        margin-bottom: 0.9rem;
    }
    .intro-text {
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    .intro-price {
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }
    .intro-price sup {
        font-size: 2rem;
    }
}
@media screen and (min-width: 1600px) {
    .intro-slider.owl-nav-inside .owl-dots {
        left: 124px;
        bottom: 70px;
    }
    .intro-content {
        left: 130px;
    }
    .intro-content .btn {
        min-width: 200px;
    }
    .intro-subtitle {
        font-size: 1.8rem;
        margin-bottom: 1.6rem;
    }
    .intro-title {
        font-size: 4rem;
        margin-bottom: 0.9rem;
    }
    .intro-text {
        font-size: 2.4rem;
        margin-bottom: 4.2rem;
    }
    .intro-price {
        font-size: 5rem;
        margin-bottom: 1.7rem;
    }
    .intro-price sup {
        top: -0.8em;
        font-size: 2.4rem;
    }
}
@media screen and (min-width: 1920px) {
    .cat-banner-row .col-xxl-4 {
        flex: 0 0 33.65%;
        max-width: 33.65%;
    }
    .cat-banner-row .col-xxl-8 {
        flex: 0 0 66.35%;
        max-width: 66.35%;
    }
    .cat-banner-row .product {
        min-height: 400px;
    }
}
@media screen and (max-width: 992px) {
    .cta-horizontal-box .cta-txt {
        text-align: center;
    }
    .cta-horizontal-box form {
        justify-content: center;
    }
}
/*# sourceMappingURL=demo-14.css.map */
